body {
  /*background-image: linear-gradient( 180deg,  rgb(245, 247, 248) 10%,rgb(78, 128, 185) 85%, rgb(69, 114, 167)  98% );*/
  background-image: linear-gradient( 180deg, #ac34e7 50%,#4671ea 50%);
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Yusei Magic', sans-serif;
	align-items: center;
	justify-content: center;
  height: 100vh;
	margin: 0;
}

.cabecera {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  width: 70px;
  margin: 0 40px 0 50px;
}

.titulo {
  font-size: 50px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 5px;
}

/*Main-principal*/

.seccionUno {
	display: flex;
	align-items: center;
	justify-content: center;
}

.textoinicio {
	display: flex;
	align-items: center;
	justify-content: center;
}
.cuadrotexto {
  background-color: white; /*rgb(204, 203, 203);*/
  border: none;
  color: black;
  border-radius: 20px;
	margin-left: 20px;
	height: 400px;
	width: 600px;
}

.text-area {
  text-transform: lowercase;
  text-underline-position: auto;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 20px;
  padding-top: 15px;
}

.mensaje {
  background-image: url("/imgs/muneco.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cuadrotexto:focus {
	outline: none
}

.botones {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: darksalmon;
	border: 0;
	border-radius: 24px;
	color: #ffffff;
	font-size: 25px;
	padding: 10px;
	margin: 10px;
	width: 250px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}

button:hover {
  color: darkmagenta;
  
}

#accionResult {
  display: flex;
	justify-content: center;
  padding: 30px;
  font-family: fantasy;
  font-size: 30px;
  color:black ;
}

.informacion {
  color: #495057;
  font-size: 18px;
  margin: 0 300px 0 350px;
  align-items: center;
	justify-content: center;
}

.informacion:before{
  content: "•";
  font-size: 20px;
  margin: 5px 5px;
}

footer {
	background-color: rgb(102, 51, 153);
	color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	padding: 2px;
	text-align: center;
  font-size: 20px;
}

.copyright {
  color: white;
  font-size: 20px;
  margin: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  body {
    height: 115vh;
    margin: 0;
    text-align: center;
    justify-content: center;
  }
  .cabecera {
    width: 100%;
  }

  .seccionUno {
    display: inline-block;
    text-align: center;
    justify-content: center;
  }

  .cuadrotexto{
    height: 200px;
    width: 400px;
    text-align: center;
    justify-content: center;
  }

  .mensaje {
    background-size: 50%;
  }

  .informacion{
    margin: auto;
    text-align: start;
    justify-content: start;
    margin: 0 20px 0 20px;
  }

  .botones {
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
}
